<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>createTime</key>
		<integer>1504957828000</integer>
		<key>headImg</key>
		<string>/img/image/2017/09/08/8162215035784f0897b0e1f24d5989fa_100_100</string>
		<key>id</key>
		<integer>84606</integer>
		<key>memberId</key>
		<integer>28473</integer>
		<key>memberNickname</key>
		<string>luo136608120</string>
		<key>msg</key>
		<string> @Violet[强]</string>
	</dict>
	<dict>
		<key>createTime</key>
		<integer>1504957816000</integer>
		<key>headImg</key>
		<string>/img/image/2017/09/08/8162215035784f0897b0e1f24d5989fa_100_100</string>
		<key>id</key>
		<integer>84605</integer>
		<key>memberId</key>
		<integer>28473</integer>
		<key>memberNickname</key>
		<string>luo136608120</string>
		<key>msg</key>
		<string>不然跑路了都没人知道</string>
	</dict>
	<dict>
		<key>createTime</key>
		<integer>1504957790000</integer>
		<key>headImg</key>
		<string>/img/image/2017/09/08/8162215035784f0897b0e1f24d5989fa_100_100</string>
		<key>id</key>
		<integer>84604</integer>
		<key>memberId</key>
		<integer>28473</integer>
		<key>memberNickname</key>
		<string>luo136608120</string>
		<key>msg</key>
		<string>可以去。引起官方注意，让公司不敢乱来</string>
	</dict>
	<dict>
		<key>createTime</key>
		<integer>1504957764000</integer>
		<key>headImg</key>
		<string>https://www.rrjj.com/web/resources/web/images/headImage/default.jpg</string>
		<key>id</key>
		<integer>84603</integer>
		<key>memberId</key>
		<integer>44868</integer>
		<key>memberNickname</key>
		<string>fstraywyb</string>
		<key>msg</key>
		<string>我里面还有一万股虽然急单也没什么办法</string>
	</dict>
	<dict>
		<key>createTime</key>
		<integer>1504957762000</integer>
		<key>headImg</key>
		<string>/img/image/2017/08/20/62408956225e4b209a847201a806cfc7_100_100</string>
		<key>id</key>
		<integer>84602</integer>
		<key>memberId</key>
		<integer>85493</integer>
		<key>memberNickname</key>
		<string>danding</string>
		<key>msg</key>
		<string>祸福未知，不确定因素太多。焦急中等待</string>
	</dict>
	<dict>
		<key>createTime</key>
		<integer>1504957697000</integer>
		<key>headImg</key>
		<string>https://www.rrjj.com/web/resources/web/images/headImage/default.jpg</string>
		<key>id</key>
		<integer>84601</integer>
		<key>memberId</key>
		<integer>40560</integer>
		<key>memberNickname</key>
		<string>Violet</string>
		<key>msg</key>
		<string>@131zzbbcc对，我没赚过钱，我现在亏了也愿意，让你去赚吧</string>
	</dict>
	<dict>
		<key>createTime</key>
		<integer>1504957647000</integer>
		<key>id</key>
		<integer>84600</integer>
		<key>memberId</key>
		<integer>63868</integer>
		<key>memberNickname</key>
		<string>131zzbbcc</string>
		<key>msg</key>
		<string>这样的人，永远赚不了什么钱的，创业都是九死一生的，更何况投资</string>
	</dict>
	<dict>
		<key>createTime</key>
		<integer>1504957633000</integer>
		<key>headImg</key>
		<string>/img/image/2017/08/20/62408956225e4b209a847201a806cfc7_100_100</string>
		<key>id</key>
		<integer>84599</integer>
		<key>memberId</key>
		<integer>85493</integer>
		<key>memberNickname</key>
		<string>danding</string>
		<key>msg</key>
		<string>再等等吧，说不定回购价可以接受</string>
	</dict>
	<dict>
		<key>createTime</key>
		<integer>1504957576000</integer>
		<key>headImg</key>
		<string>https://www.rrjj.com/web/resources/web/images/headImage/default.jpg</string>
		<key>id</key>
		<integer>84598</integer>
		<key>memberId</key>
		<integer>40560</integer>
		<key>memberNickname</key>
		<string>Violet</string>
		<key>msg</key>
		<string>虽然很幼稚，没办法，小屁民无路可走了</string>
	</dict>
	<dict>
		<key>createTime</key>
		<integer>1504957527000</integer>
		<key>headImg</key>
		<string>https://www.rrjj.com/web/resources/web/images/headImage/default.jpg</string>
		<key>id</key>
		<integer>84597</integer>
		<key>memberId</key>
		<integer>40560</integer>
		<key>memberNickname</key>
		<string>Violet</string>
		<key>msg</key>
		<string>我决定了，去各大主流财经媒体新闻那里评论：杭州市众基公司人人积金交易平台涉嫌非法货币交易，请相关部门监管清查。</string>
	</dict>
	<dict>
		<key>createTime</key>
		<integer>1504956726000</integer>
		<key>headImg</key>
		<string>/img/image/2017/08/20/62408956225e4b209a847201a806cfc7_100_100</string>
		<key>id</key>
		<integer>84596</integer>
		<key>memberId</key>
		<integer>85493</integer>
		<key>memberNickname</key>
		<string>danding</string>
		<key>msg</key>
		<string>他是获利了结的</string>
	</dict>
	<dict>
		<key>createTime</key>
		<integer>1504956660000</integer>
		<key>headImg</key>
		<string>https://www.rrjj.com/web/resources/web/images/headImage/default.jpg</string>
		<key>id</key>
		<integer>84595</integer>
		<key>memberId</key>
		<integer>40560</integer>
		<key>memberNickname</key>
		<string>Violet</string>
		<key>msg</key>
		<string>@Lichun你心态很好？有没有持有？持有多少？是不是旁观者？</string>
	</dict>
	<dict>
		<key>createTime</key>
		<integer>1504956384000</integer>
		<key>id</key>
		<integer>84594</integer>
		<key>memberId</key>
		<integer>64464</integer>
		<key>memberNickname</key>
		<string>Lichun</string>
		<key>msg</key>
		<string>人人爆涨的时候，都没人埋怨，现在，现在遇到点麻烦就受不了，你们还是不要玩了</string>
	</dict>
	<dict>
		<key>createTime</key>
		<integer>1504956004000</integer>
		<key>headImg</key>
		<string>/img/image/2017/08/20/62408956225e4b209a847201a806cfc7_100_100</string>
		<key>id</key>
		<integer>84593</integer>
		<key>memberId</key>
		<integer>85493</integer>
		<key>memberNickname</key>
		<string>danding</string>
		<key>msg</key>
		<string>平台也稳稳的赚</string>
	</dict>
	<dict>
		<key>createTime</key>
		<integer>1504955574000</integer>
		<key>headImg</key>
		<string>/img/image/2017/09/08/54173451ef42468490ef9d8867838a70_100_100</string>
		<key>id</key>
		<integer>84592</integer>
		<key>memberId</key>
		<integer>73854</integer>
		<key>memberNickname</key>
		<string>不知所谓</string>
		<key>msg</key>
		<string>操盘手不投钱，是稳稳的赚的</string>
	</dict>
	<dict>
		<key>createTime</key>
		<integer>1504955181000</integer>
		<key>headImg</key>
		<string>/img/image/2017/07/17/4ab1715258334f46877f68bc38697e53_100_100</string>
		<key>id</key>
		<integer>84591</integer>
		<key>memberId</key>
		<integer>33241</integer>
		<key>memberNickname</key>
		<string>人人链到底合不合法</string>
		<key>msg</key>
		<string>大概也是这原因</string>
	</dict>
	<dict>
		<key>createTime</key>
		<integer>1504955170000</integer>
		<key>headImg</key>
		<string>/img/image/2017/07/17/4ab1715258334f46877f68bc38697e53_100_100</string>
		<key>id</key>
		<integer>84590</integer>
		<key>memberId</key>
		<integer>33241</integer>
		<key>memberNickname</key>
		<string>人人链到底合不合法</string>
		<key>msg</key>
		<string>所以 群主自己不怎么投</string>
	</dict>
	<dict>
		<key>createTime</key>
		<integer>1504955164000</integer>
		<key>headImg</key>
		<string>/img/image/2017/07/02/5c91325106a345cea759630cc842f0d6_100_100</string>
		<key>id</key>
		<integer>84589</integer>
		<key>memberId</key>
		<integer>58392</integer>
		<key>memberNickname</key>
		<string>人人痛何时解</string>
		<key>msg</key>
		<string>这几天情绪已经有点控制不住了，对，就是我</string>
	</dict>
	<dict>
		<key>createTime</key>
		<integer>1504955078000</integer>
		<key>headImg</key>
		<string>http://wx.qlogo.cn/mmopen/ajNVdqHZLLCwia3MhQAusL1NGoZPVh9m9KxdAPZ2wqGKlwkOlxTVzT9J7fftmtdic42QCcjicPaa922pNgPgAuicZQ/0</string>
		<key>id</key>
		<integer>84588</integer>
		<key>memberId</key>
		<integer>14807</integer>
		<key>memberNickname</key>
		<string>姚佳(wc)</string>
		<key>msg</key>
		<string>涉嫌违规，然后波及基金，而且开盘对我们来说更不利</string>
	</dict>
	<dict>
		<key>createTime</key>
		<integer>1504955067000</integer>
		<key>headImg</key>
		<string>/img/image/2017/07/17/4ab1715258334f46877f68bc38697e53_100_100</string>
		<key>id</key>
		<integer>84587</integer>
		<key>memberId</key>
		<integer>33241</integer>
		<key>memberNickname</key>
		<string>人人链到底合不合法</string>
		<key>msg</key>
		<string>不知道有没有监管部门知道这边还有一个人人链</string>
	</dict>
	<dict>
		<key>createTime</key>
		<integer>1504955066000</integer>
		<key>headImg</key>
		<string>/img/image/2017/07/02/5c91325106a345cea759630cc842f0d6_100_100</string>
		<key>id</key>
		<integer>84586</integer>
		<key>memberId</key>
		<integer>58392</integer>
		<key>memberNickname</key>
		<string>人人痛何时解</string>
		<key>msg</key>
		<string>说实话，目前我还是对公司存有信任的，我们家当都在里面，希望公司妥善处理好，如果平台有一天真要我们死，他们也活不了。</string>
	</dict>
	<dict>
		<key>createTime</key>
		<integer>1504955064000</integer>
		<key>headImg</key>
		<string>/img/image/2017/08/20/62408956225e4b209a847201a806cfc7_100_100</string>
		<key>id</key>
		<integer>84585</integer>
		<key>memberId</key>
		<integer>85493</integer>
		<key>memberNickname</key>
		<string>danding</string>
		<key>msg</key>
		<string>哪有那么多合规的</string>
	</dict>
	<dict>
		<key>createTime</key>
		<integer>1504954986000</integer>
		<key>headImg</key>
		<string>/img/image/2017/07/17/4ab1715258334f46877f68bc38697e53_100_100</string>
		<key>id</key>
		<integer>84584</integer>
		<key>memberId</key>
		<integer>33241</integer>
		<key>memberNickname</key>
		<string>人人链到底合不合法</string>
		<key>msg</key>
		<string>环境就是很可能是违规的 @danding</string>
	</dict>
	<dict>
		<key>createTime</key>
		<integer>1504954858000</integer>
		<key>headImg</key>
		<string>/img/image/2017/07/02/5c91325106a345cea759630cc842f0d6_100_100</string>
		<key>id</key>
		<integer>84583</integer>
		<key>memberId</key>
		<integer>58392</integer>
		<key>memberNickname</key>
		<string>人人痛何时解</string>
		<key>msg</key>
		<string>@danding现在都什么时候还开盘，我只能呵呵了</string>
	</dict>
	<dict>
		<key>createTime</key>
		<integer>1504954789000</integer>
		<key>headImg</key>
		<string>/img/image/2017/08/20/62408956225e4b209a847201a806cfc7_100_100</string>
		<key>id</key>
		<integer>84582</integer>
		<key>memberId</key>
		<integer>85493</integer>
		<key>memberNickname</key>
		<string>danding</string>
		<key>msg</key>
		<string>营造涨的环境，它就能涨起来。</string>
	</dict>
	<dict>
		<key>createTime</key>
		<integer>1504954778000</integer>
		<key>headImg</key>
		<string>/img/image/2017/07/17/4ab1715258334f46877f68bc38697e53_100_100</string>
		<key>id</key>
		<integer>84581</integer>
		<key>memberId</key>
		<integer>33241</integer>
		<key>memberNickname</key>
		<string>人人链到底合不合法</string>
		<key>msg</key>
		<string>公司也没几个人 估计test公司也没几个人 估计test公司也没几个人 估计test公司也没几个人 估计test公司也没几个人 估计test公司也没几个人 估计test公司也没几个人 估计test公司也没几个人 估计test公司也没几个人 估计test公司也没几个人 估计test公司也没几个人 估计test公司也没几个人 估计test公司也没几个人 估计test公司也没几个人 估计test公司也没几个人 估计test公司也没几个人 估计test公司也没几个人 估计test公司也没几个人 估计test公司也没几个人 估计test公司也没几个人 估计test公司也没几个人 估计test公司也没几个人 估计test公司也没几个人 估计test公司也没几个人 估计test公司也没几个人 估计test</string>
	</dict>
	<dict>
		<key>createTime</key>
		<integer>1504954778000</integer>
		<key>headImg</key>
		<string>/img/image/2017/07/17/4ab1715258334f46877f68bc38697e53_100_100</string>
		<key>id</key>
		<integer>84581</integer>
		<key>memberId</key>
		<integer>31319</integer>
		<key>memberNickname</key>
		<string>军哥</string>
		<key>msg</key>
		<string>公司也没几个人 估计test公司也没几个人 估计test公司也没几个人 估计test公司也没几个人 估计test公司也没几个人 估计test公司也没几个人 估计test公司也没几个人 估计test公司也没几个人 估计test公司也没几个人 估计test公司也没几个人 估计test公司也没几个人 估计test公司也没几个人 估计test公司也没几个人 估计test公司也没几个人 估计test公司也没几个人 估计test公司也没几个人 估计test公司也没几个人 估计test公司也没几个人 估计test公司也没几个人 估计test公司也没几个人 估计test公司也没几个人 估计test公司也没几个人 估计test公司也没几个人 估计test公司也没几个人 估计test公司也没几个人 估计test</string>
	</dict>
</array>
</plist>
